# Python
cb/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
audio_emotion_model.pkl 
*.DS_Store
!models/image/classification/models/** 
medical_data_*


# Virtual Environment
venv/
ENV/
myenv/
llama-cpp-python/
GPTQ/

# VS Code
.vscode/
*.code-workspace

# Model files
*.gguf
*.bin

*.pickle 
*.h5

# Database
chroma_langchain_db/
*.db

# Logs
*.log

# Environment variables
.env