# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pkl
# Virtual Environment
venv/
ENV/
myenv/
llama-cpp-python/
GPTQ/

# VS Code
.vscode/
*.code-workspace

# Model files
*.gguf
*.bin
*.pkl
*.pickle 
*.h5

# Database
chroma_langchain_db/
*.db

# Logs
*.log

# Environment variables
.env