langchain
langchain-community
langchain-chroma
langgraph
langchain-huggingface
flask
ngrok
transformers
pandas
python-dotenv
scikit-learn
tensorflow
tf-keras
tqdm
pyaudio
joblib
werkzeug
base64io
pydub
sounddevice
soundfile
librosa
scipy
dash==2.14.2
dash-bootstrap-components==1.5.0
plotly==5.18.0
pynput==1.7.6
