langchain
langchain-community
langchain-chroma
langgraph
langchain-huggingface
flask
ngrok
transformers
pandas
python-dotenv
scikit-learn
tensorflow
tf-keras
tqdm
pyaudio
joblib
werkzeug
base64io
pydub
sounddevice
soundfile
librosa
scipy
