waitress
flask
ngrok
requests
python-dotenv
flask-cors
urllib3
langchain
langchain-community
langchain-chroma
langgraph
numpy
pandas
scikit-learn
joblib
pydub
soundfile
librosa
scipy
transformers
tqdm
dash==2.14.2
dash-bootstrap-components==1.5.0
plotly==5.18.0
pynput==1.7.6
