waitress
flask
ngrok
requests
python-dotenv
flask-cors
urllib3
langchain
langchain-community
langchain-chroma
langgraph
numpy
pandas
scikit-learn
joblib
pydub
soundfile
librosa
scipy
transformers
tqdm

