langchain
langchain-community
langchain-chroma
langgraph
langchain-huggingface
flask
ngrok
transformers
pandas
python-dotenv
scikit-learn
tensorflow
tf-keras
pyaudio
joblib
werkzeug
base64io
pydub
sounddevice
soundfile
librosa
scipy
dash
dash-bootstrap-components
plotly
pynput
psutil
rich
tqdm
supabase
timm
torchattacks
torch
torchvision
medmnist
einops
scikit-image
fvcore
fire
opencv-python
joblib
numpy
